# Copyright (C) 2005-2006 Motorola, Inc.
#
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License version 2 as
#  published by the Free Software Foundation.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program; if not, write to the Free Software
#  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
# Motorola 2006-Oct-06 - Update File
# Motorola 2006-Aug-03 - Linear Vibrator Support
# Motorola 2006-Jun-22 - Remove MOT_POWER_IC dependencies
# Motorola 2006-May-12 - Add Zeus support for SD
# Motorola 2005-Mar-25 - File re-written from scratch

menu "Power IC support"

config MOT_POWER_IC
        tristate "Motorola Power IC"
    ---help---
    This configuration enables the Power IC to be used by SCM-A11 and Zeus

config MOT_POWER_IC_ATLAS
        tristate "Motorola Power IC"
    depends on MOT_POWER_IC
    ---help---
    This configuration enables the Atlas to be used by SCM-A11 without affecting EzX    

config USR_BLK_DEV
        tristate "SD TransFlash support"
        depends on MOT_POWER_IC
        ---help---
        This configuration enables SD TransFlash driver support for SCM-A11 and Zeus

config LINEARVIBRATOR
    tristate "Linear Vibrator support"
    default n
    ---help---
    This configuration enables the linear vibrator for all platforms
endmenu
