#
# arch/arm/configs/motorola_ljap/product-family/scma11.config
#
# SCM-A11/MXC-91231-specific Linux kernel configuration options. This
# file is evaluated by Kconfig following the evaluation of:
#      arch/arm/configs/motorola_ljap_defconfig
#
# And it is evaluated before:
#      arch/arm/configs/motorola_ljap/product-family/${PRODUCT}.config
#
# Copyright 2006-2007 Motorola, Inc.
#

CONFIG_ARCH_MXC91231=y

CONFIG_MOT_FEAT_SYSREBOOT=y
# CONFIG_MOT_FEAT_SYSREBOOT_CRM is not set
CONFIG_MOT_FEAT_SYSREBOOT_ATLAS=y

CONFIG_MOT_WFN430=y
CONFIG_MOT_WFN435=y
# CONFIG_MOT_WFN248 is not set
CONFIG_MOT_FEAT_PPP_EZX_COMPAT=y
CONFIG_MOT_FEAT_PM_DESENSE=y
CONFIG_MOT_FEAT_PM_STATS=y
CONFIG_MOT_FEAT_SET_MAC=y
CONFIG_MOT_FEAT_BT_MAXUARTBAUDRATE=y
CONFIG_MOT_WFN420=y
CONFIG_MOT_WFN441=y
CONFIG_MOT_WFN421=y
CONFIG_MOT_WFN476=y
CONFIG_MOT_FEAT_DEBUG_WDOG=y

#
# General Setup
#
CONFIG_KOBJECT_UEVENT=y

#
# RAM/ROM/Flash chip drivers
#
# CONFIG_MTD_CFI is not set
# CONFIG_MTD_JEDECPROBE is not set
CONFIG_MTD_MAP_BANK_WIDTH_1=y
CONFIG_MTD_MAP_BANK_WIDTH_2=y
CONFIG_MTD_MAP_BANK_WIDTH_4=y
# CONFIG_MTD_MAP_BANK_WIDTH_8 is not set
# CONFIG_MTD_MAP_BANK_WIDTH_16 is not set
# CONFIG_MTD_MAP_BANK_WIDTH_32 is not set
CONFIG_MTD_CFI_I1=y
CONFIG_MTD_CFI_I2=y
# CONFIG_MTD_CFI_I4 is not set
# CONFIG_MTD_CFI_I8 is not set
CONFIG_MTD_RAM=y
# CONFIG_MTD_ROM is not set
# CONFIG_MTD_ABSENT is not set

#
# Mapping drivers for chip access
#
# CONFIG_MTD_COMPLEX_MAPPINGS is not set
# CONFIG_MTD_PLATRAM is not set
# CONFIG_MTD_MXC is not set

#
# IO Schedulers
#
CONFIG_IOSCHED_AS=y
CONFIG_IOSCHED_DEADLINE=y
CONFIG_IOSCHED_CFQ=y

#
# Networking options
#
CONFIG_USE_POLICY_FWD=y

#
# Pseudo filesystems
#
CONFIG_RELAYFS_FS=y
# CONFIG_KLOG_CHANNEL is not set

#
# Graphics support
#
CONFIG_FB_MXC_INTERNAL_MEM=y

#
# MXC Security Drivers
#
# CONFIG_MXC_SECURITY_RNGA is not set
# CONFIG_MXC_SECURITY_HAC is not set


#
# MXC Camera/V4L2 IPU PRP Features support
#
CONFIG_MOT_FEAT_2MP_CAMERA_WRKARND=y

#
# MXC IPU post-processing device driver
#
CONFIG_MOT_FEAT_IPU_PP=y
