#
# arch/arm/configs/motorola_ljap/product/buteref.config
#
# ArgonLV Reference Design-specific Linux kernel configuration options. This
# file is evaluated by Kconfig following the evaluation of these files:
#      arch/arm/configs/motorola_ljap_defconfig
#      arch/arm/configs/motorola_ljap/product-family/argon.config
#
# Copyright 2006 Motorola, Inc.
#

CONFIG_MACH_ARGONLVREF=y
CONFIG_MOT_FEAT_FLIP=y

#
# Network Device Drivers
#
CONFIG_CS89x0=y

#
# Network File Systems
#
CONFIG_NFS_FS=y
CONFIG_NFS_V3=y
# CONFIG_NFS_V4 is not set
# CONFIG_NFS_DIRECTIO is not set
# CONFIG_NFSD is not set
CONFIG_ROOT_NFS=y
CONFIG_LOCKD=y
CONFIG_LOCKD_V4=y
# CONFIG_EXPORTFS is not set
CONFIG_SUNRPC=y
# CONFIG_RPCSEC_GSS_KRB5 is not set
# CONFIG_RPCSEC_GSS_SPKM3 is not set

#
# GPIO API Options
#
CONFIG_MOT_WFN441=y
# CONFIG_MOT_FEAT_GPIO_API_LIGHTING_CAM_TORCH is not set
# CONFIG_MOT_FEAT_GPIO_API_LIGHTING_EL is not set
# CONFIG_MOT_FEAT_GPIO_API_USBHS is not set
# CONFIG_MOT_FEAT_GPIO_API_WLAN is not set

# Anti-virus support
#
CONFIG_MOT_FEAT_ANTIVIRUS_HOOKS=y

