#
# arch/arm/configs/motorola_ljap/product/elba.config
#
# Elba-specific Linux kernel configuration options. This file is evaluated
# by Kconfig following the evaluation of these files:
#      arch/arm/configs/motorola_ljap_defconfig
#      arch/arm/configs/motorola_ljap/product-family/scma11.config
#
# Copyright 2006 Motorola, Inc.
#

CONFIG_MACH_ELBA=y
# CONFIG_MOT_FEAT_PM_DESENSE is not set
CONFIG_MOT_FEAT_CANDYBAR=y

#
# GPIO API Options
#
# CONFIG_MOT_FEAT_GPIO_API_ETHERNET is not set
# CONFIG_MOT_FEAT_GPIO_API_ETM is not set
# CONFIG_MOT_FEAT_GPIO_API_LIGHTING_LCD is not set
CONFIG_MOT_FEAT_GPIO_API_LIGHTING_CAM_FLASH=y
# CONFIG_MOT_FEAT_GPIO_API_LIGHTING_CAM_TORCH is not set
# CONFIG_MOT_FEAT_GPIO_API_SDHC is not set
# CONFIG_MOT_FEAT_GPIO_API_WLAN is not set

#
# On-The-Go and USB Peripheral Support
#
CONFIG_OTG_HIGH_SPEED=y
CONFIG_MOT_FEAT_FX2LP_I2C=y

CONFIG_MOT_FEAT_YAFFS_PARSE_MOUNT_OPTIONS=y
CONFIG_MOT_FEAT_YAFFS_SHREDDER=y
CONFIG_MOT_WFN436=y
