#
# arch/arm/configs/motorola_ljap/product/lido.config
#
# Lido-specific Linux kernel configuration options. This file is evaluated
# by Kconfig following the evaluation of these files:
#      arch/arm/configs/motorola_ljap_defconfig
#      arch/arm/configs/motorola_ljap/product-family/scma11.config
#
# Copyright 2006-2007 Motorola, Inc.
#

CONFIG_MACH_LIDO=y
CONFIG_MOT_FEAT_FLIP=y

#
# GPIO API Options
#
CONFIG_FB_MXC_SYNC_ASYNC_PANEL=y
CONFIG_FB_MXC_HVGA_PANEL=y
CONFIG_MOT_WFN418=y
# CONFIG_FB_MXC_SYNC_PANEL is not set
# CONFIG_FB_MXC_SANYO_QVGA_PANEL is not set
# CONFIG_FB_MXC_INTERNAL_MEM is not set
CONFIG_MOT_FEAT_IPU_BGRA6666=y
# CONFIG_MOT_FEAT_GPIO_API_ETHERNET is not set
# CONFIG_MOT_FEAT_GPIO_API_ETM is not set
CONFIG_MOT_FEAT_LCD_ESD_RECOVERY=y
CONFIG_MOT_FEAT_GPIO_API_SERIALIZER=y
# CONFIG_MOT_FEAT_GPIO_API_LIGHTING_LCD is not set
CONFIG_MOT_FEAT_GPIO_API_LIGHTING_CAM_FLASH=y
# CONFIG_MOT_FEAT_GPIO_API_LIGHTING_CAM_TORCH is not set
CONFIG_MOT_FEAT_GPIO_API_MMCSD=y
# CONFIG_MOT_FEAT_GPIO_API_SDHC is not set
# CONFIG_MOT_FEAT_GPIO_API_WLAN is not set

#
# On-The-Go and USB Peripheral Support
#
CONFIG_OTG_HIGH_SPEED=y
CONFIG_MOT_FEAT_FX2LP_I2C=y
CONFIG_MOT_FEAT_POWERUP_LOGO=y

# Display type, whether TRANSMISSIVE or TRANSFLECTIVE
CONFIG_FB_MXC_MAIN_TRANSMISSIVE_DISPLAY=y
# CONFIG_FB_MXC_MAIN_TRANSFLECTIVE_DISPLAY is not set
# CONFIG_FB_MXC_CLI_TRANSMISSIVE_DISPLAY is not set
CONFIG_FB_MXC_CLI_TRANSFLECTIVE_DISPLAY=y


#
# Network Filtering
#
CONFIG_NETFILTER=y
CONFIG_MOT_WFN441=y

#
# Anti-virus support
#
CONFIG_MOT_FEAT_ANTIVIRUS_HOOKS=n

#
# MMC/SD Card support
#
# CONFIG_USR_BLK_DEV is not set

CONFIG_MMC=y
CONFIG_MOT_FEAT_MMC_SDHC1=y
# CONFIG_MMC_DEBUG is not set
CONFIG_MMC_BLOCK=y
# CONFIG_MMC_BLOCK_BROKEN_RFD is not set
# CONFIG_MMC_WBSD is not set
CONFIG_MMC_MXC=y

# CONFIG_MOT_FEAT_INTERN_SD is not set
CONFIG_MOT_FEAT_EXTERN_SD=y
# CONFIG_MOT_FEAT_MEGASIM is not set
