#
# arch/arm/configs/motorola_ljap/product/scma11ref.config
#
# SCM-A11 Reference Design-specific Linux kernel configuration options. This
# file is evaluated by Kconfig following the evaluation of these files:
#      arch/arm/configs/motorola_ljap_defconfig
#      arch/arm/configs/motorola_ljap/product-family/scma11.config
#
# Copyright 2005-2006 Motorola, Inc. All rights reserved.
#

#
#   Date         Author           Comment
#   -----------  --------------   --------------------------------
#   2005-May-19  Motorola	  Enabling Bluetooth(R) CONFIG macros in default scma11ref config
#
#



CONFIG_MACH_SCMA11REF=y
# CONFIG_MTD_SCMA11REF is not set
# CONFIG_MOT_WFN455 is not set

#
# Network Device Drivers
#
CONFIG_CS89x0=y

#
# Network File Systems
#
CONFIG_NFS_FS=y
CONFIG_NFS_V3=y
# CONFIG_NFS_V4 is not set
# CONFIG_NFS_DIRECTIO is not set
# CONFIG_NFSD is not set
CONFIG_ROOT_NFS=y
CONFIG_LOCKD=y
CONFIG_LOCKD_V4=y
# CONFIG_EXPORTFS is not set
CONFIG_SUNRPC=y
# CONFIG_RPCSEC_GSS_KRB5 is not set
# CONFIG_RPCSEC_GSS_SPKM3 is not set

#
# Wireless LAN (non-hamradio)
#
CONFIG_NET_RADIO=y

#
# Obsolete Wireless cards support (pre-802.11)
#
# CONFIG_STRIP is not set
# CONFIG_ARLAN is not set
# CONFIG_WAVELAN is not set

#
# Wireless 802.11b ISA/PCI cards support
#
# CONFIG_ATMEL is not set
# CONFIG_HOSTAP is not set
CONFIG_NET_WIRELESS=y

#
# OTG PBG function options
#
CONFIG_OTG_PBG_BCDDEVICE=0x0200

#
# Network Filtering
#
CONFIG_NETFILTER=y
CONFIG_MOT_WFN441=y


# Anti-virus support
#
CONFIG_MOT_FEAT_ANTIVIRUS_HOOKS=y

# CONFIG_MOT_FEAT_INTERN_SD is not set
CONFIG_MOT_FEAT_EXTERN_SD=y
# CONFIG_MOT_FEAT_MAGESIM is not set

CONFIG_MOT_FEAT_GPIO_API_SDHC=y

CONFIG_MOT_FEAT_MMC_SDHC1=y
CONFIG_MOT_FEAT_MMC_SDHC2=y
