#
# arch/arm/configs/motorola_ljap/product/zeusevb.config
#
# Zeus Evaluation Board-specific Linux kernel configuration options. This
# file is evaluated by Kconfig following the evaluation of these files:
#      arch/arm/configs/motorola_ljap_defconfig
#      arch/arm/configs/motorola_ljap/product-family/zeus.config
#
# Copyright 2006 Motorola, Inc.
#

CONFIG_MACH_MXC91131EVB=y

#
# GPIO API Options
#
# CONFIG_MOT_FEAT_GPIO_API_MC13783 is not set
# CONFIG_MOT_FEAT_GPIO_API_BTPOWER is not set
# CONFIG_MOT_FEAT_GPIO_API_CSI is not set
# CONFIG_MOT_FEAT_GPIO_API_DAI is not set
# CONFIG_MOT_FEAT_GPIO_API_ETHERNET is not set
# CONFIG_MOT_FEAT_GPIO_API_ETM is not set
# CONFIG_MOT_FEAT_GPIO_API_LCD is not set
# CONFIG_MOT_FEAT_GPIO_API_LIGHTING is not set
# CONFIG_MOT_FEAT_GPIO_API_SDHC is not set
# CONFIG_MOT_FEAT_GPIO_API_USBHS is not set
# CONFIG_MOT_FEAT_GPIO_API_WLAN is not set

#
# Network Device Drivers
#
CONFIG_CS89x0=y

#
# Network File Systems
#
CONFIG_NFS_FS=y
CONFIG_NFS_V3=y
# CONFIG_NFS_V4 is not set
# CONFIG_NFS_DIRECTIO is not set
CONFIG_NFSD=m
CONFIG_NFSD_V3=y
# CONFIG_NFSD_V4 is not set
CONFIG_NFSD_TCP=y
CONFIG_ROOT_NFS=y
CONFIG_LOCKD=y
CONFIG_LOCKD_V4=y
CONFIG_EXPORTFS=m
CONFIG_SUNRPC=y
# CONFIG_RPCSEC_GSS_KRB5 is not set
# CONFIG_RPCSEC_GSS_SPKM3 is not set
# CONFIG_CIFS is not set
# CONFIG_NCP_FS is not set
# CONFIG_CODA_FS is not set
# CONFIG_AFS_FS is not set

# CONFIG_MOT_WFN441 is not set

# Anti-virus support
#
CONFIG_MOT_FEAT_ANTIVIRUS_HOOKS=y

